*{
    margin: 0;
    padding: 0;
    font-family:Arial;
    /* background-color: rgb(20, 20,20); */
    color: white;
    font-size: 15px;

}

.nav-bar{
    height: 68px;
    background-color: #0d0d0d;
    display:flex;
}


.log-cont{
    height: 200px;

}
.logo{
    height: 41px;
    width:100px;
    background-image: url("netflix_logo.jpg");
    background-size: cover;
    padding-bottom: 27px;
}

.nav-menu{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-menu a{
    margin-left: 15px;
}
