* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* background-color: rgb(20, 20,20); */
    color: #ffffff;
    font-size: 15px;


}

.nav-bar {
    height: 68px;
    background-color: #0d0d0d;
    display: flex;
}


.log-cont {
    height: 200px;

}

.logo {
    height: 41px;
    width: 100px;
    background-image: url("netflix_logo.jpg");
    background-size: cover;
    padding-bottom: 27px;
}

.nav-menu {
    display: flex;
    width: 55%;
    align-items: center;
    margin-left: 20px;
}

.nav-menu a {
    margin-left: 15px;
}


.nav-icon {

    height: 68px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 500px;
    margin-right: 50px;
    /* padding-left: 20px; */

}

.nav-search i {
    font-size: 25px;

}

.nav-select {
    /* height:50px;
    width: 52px;; */
    display: flex;

}

.profile {
    height: 32px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;


}

.dropdown {
    height: 20px;
    width: 20px;
    background-color: #0d0d0d;
    border-style: none;
    margin-top: 5px;
}

.hero-section {
    height:759px;
    background-image: url("hero-section.jpg");
    background-size: cover;
    display: flex;

}

.movie-name {
    background-size: contain;
    background-repeat: no-repeat;
    height: 230px;
    width: 540px;


}

/* .hero-section {
    display: flex;
    width: 100%;

} */

.box1 {
    height: 200px;
    /* width: 540px; */
    margin-left: 70px;
    margin-top: 115px;
    width:100%;


}

.movie-explain {
    /* background-color: #0d0d0d; */
    width: 550px;
    color: white;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 300;
}

.play {
    height: 36px;
    width: 100px;
}

.box2 {
    height: 46px;
    width:270px;
    display: flex;
    margin-top:30px;
    justify-content: space-between;

}


.play {
    height: 46px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info {
    height: 46px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(88, 89, 89,0.5) ;
    
    

}

.border{
    border: 2px solid transparent;
    border-radius:4px;

}


.play{
  background-color: #ffffff;

}

.p-logo{
    display: flex;
   /* align-items: center; */
   
    
 
    
}
.m-info{
    display: flex;
   
}

.pogo{
    margin-left: 15px;
    font-size:18px ;
    color: #0d0d0d;
    font-weight:bold;
    
}
.pogo2{
    margin-left:15px;
    font-weight: bold;
    margin-top: 5px;
}

.p-logo i{
    color: #0d0d0d;
    font-size :20px;
}
.m-info i{
    font-size:30px;
}

.box{
    height:130px;
    width: 230px;
    border:2px solid transparent;
    border-radius:10px;

}

.box-pannel{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    width: 100%;
    margin-left: 3px;
    margin-top:4px ;

}

.title-1{
    height: 28px; 
    width: 255px;
    margin-top:90px;
   color:rgba(229, 229, 229, 1);
   font-size:20px;
   font-weight:bold;
   margin-left: 10px;
}


.movie-pannel{
    display:flex;
    flex-wrap: wrap;
    height:750px;
    background-color: #141414;
     align-items:space-evenly;
  

}

.movie-box{
    height: 130px;;
    display: flex;
    margin-left: 71px;
    /* margin-top:100px; */
    justify-content: space-evenly;
    width:100%;
    
}

.movie-box2{
    display: flex;
    margin-left: 71px;
    justify-content:space-between;
    width: 100%;
    /* margin-top:100px; */

}
  
.d1{
    margin-top: 70px;;
    margin-left: 80px;
    height: 20px; 
    width: 255px;
   color:rgba(229, 229, 229, 1);
   font-size:20px;
   font-weight:bold;

}


/** preview**/
/* ========== HOVER PREVIEW CARD STYLES ========== */
.card {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.card:hover {
    height: 200px;
  transform: scale(1.6);
  z-index: 10;
}

.card-content {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 1);
  color: white;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.5s ease-in-out;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover .card-content {
  opacity: 1;
  transform: scale(1);
}

.card-content h3 {
  margin: 0;
  font-size: 1.2em;
}

.card-content h3 span {
  color: #00ff99;
}

.icons button {
  margin: 10px 5px 0 0;
  background: #333;
  border: none;
  border-radius: 50%;
  padding: 6px;
  color: white;
  font-size: 16px;
}

/* .info, .tags {
  font-size: 0.5em;
  margin-top: 5px;
  color: #ccc;
} */

/** movie-review**/

.card-content .info,
.card-content .tags {
    font-size: 10px;
    line-height: 1.2;
}


.movie-pre{
    height:200px;
}



