* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    /* background-color: rgb(20, 20,20); */
    color: #ffffff;
    font-size: 15px;

}

.nav-bar {
    height: 68px;
    background-color: #0d0d0d;
    display: flex;
}


.log-cont {
    height: 200px;

}

.logo {
    height: 41px;
    width: 100px;
    background-image: url("netflix_logo.jpg");
    background-size: cover;
    padding-bottom: 27px;
}

.nav-menu {
    display: flex;
    width: 55%;
    align-items: center;
    margin-left: 20px;
}

.nav-menu a {
    margin-left: 15px;
}


.nav-icon {

    height: 68px;
    width:300px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 500px;
    margin-right:50px;
    /* padding-left: 20px; */

}

.nav-search i {
    font-size: 25px;
    
}

.nav-select {
    /* height:50px;
    width: 52px;; */
    display: flex;
   
}

.profile {
    height: 32px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
 

}
.dropdown{
    height: 20px;
    width:20px;
    background-color: #0d0d0d;
    border-style: none;
    margin-top: 5px;
}

.hero-section{
    height:840px;
    background-image: url("hero-section.jpg");
    background-size: cover;
}

.movie-name{
    background-size:contain;
    background-repeat: no-repeat;
    height: 230px;
    width: 540px;


}

.hero-section{
    display: flex;

}

.box1{
    height:300px;
    width: 540px;
}

.box1 .p{
    background-color: #0d0d0d;
    color: rgb(177, 20, 20);
    font-size: 500px;
}














